<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <%- include('header') %>
        <!-- <%= user.name %>
        <h1>Hello from EJS</h1>
        <ul>
            <% for(var i=0; i<user.pets.length; i++) { %>
                <li>
                    <%= user.pets[i] %>
                </li>
                <% } %>
        </ul> -->
        Đây là Main
        <%- include('footer') %>
</body>

</html>